html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
	display: block;
}
body{
	font-family: Arial;
	font-size: 12px;
	moz-background-size: cover;
	o-background-size: cover;
	webkit-background-size: cover;
}
ol,ul{
	list-style: none;
}
blockquote,q{
	quotes: none;
}
blockquote:before,blockquote:after,q:before,q:after
{
	content: none;
}
table{
	border-collapse: collapse;
	border-spacing: 0;
}
*{
	box-sizing: border-box;
	moz-box-sizing: border-box;
}
p{
	font-size: 12px;
}
a{
	margin: 0;
	padding: 0;
	text-decoration: none;
}
strong{
	font-weight: 700;
}
.container{
	background: #FFF;
	border: 6px solid #e8e5e5;
	border-radius: 12px 12px 12px 12px;
	height: 200px;
	margin: 0 auto;
	moz-border-radius: 10px;
	padding: 4px;
	webkit-border-radius: 10px 10px 10px 10px;
	width: 610px;
}
.boxShadow {
	width:129px;
	height:33px;
	padding:3px;
	margin:6px 1px;
	box-shadow: 0px 0px 8px 1px rgba(88, 86, 86, 0.25);
	-moz-box-shadow: 0px 0px 8px 1px rgba(88, 86, 86, 0.25);
	-webkit-box-shadow: 0px 0px 8px 1px rgba(88, 86, 86, 0.25);
	 border:1px solid #c0c0c0;
     border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
	
	}
.boxShadowSmall {
	width:110px;
	height:38px;
	padding:3px 0 3px 16px;
	margin:6px 1px;
	box-shadow: 0px 0px 8px 1px rgba(88, 86, 86, 0.25);
	-moz-box-shadow: 0px 0px 8px 1px rgba(88, 86, 86, 0.25);
	-webkit-box-shadow: 0px 0px 8px 1px rgba(88, 86, 86, 0.25);
	 border:1px solid #c0c0c0;
     border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
	
	}	
.tailNumber {
	font-size:19px;
	padding:3px 0 0 3px;
	font-weight:bold;
	display: table-cell;
	vertical-align:middle;
	font-style:italic;
	text-shadow: -1px -1px 1px rgba(150, 150, 150, 0.7);
}
.boxShadowLink { color: 333; }



.left{
	float: left;
	height: 180px;
	width: 245px;
}
.aircraftImgCont{
	float: left;
	height: 80px;
	margin-top: 18px;
	width: 240px;
}
.chartCont{
	float: left;
	height: 67px;
	overflow: hidden;
	width: 240px;
}
.chartTextCont{
	background-color: #999;
	border-bottom: #666 thin solid;
	color: #FFF;
	float: left;
	font-size: 11px;
	height: 14px;
	margin: 0;
	padding-top: 2px;
	width: 240px;
}
.right{
	float: right;
	width: 330px;
}
.acStatusNumberCont{
	border: #666 thin solid;
	box-shadow: 0 2px 9px #888;
	float: right;
	font-family: Arial;
	height: 110px;
	width: 342px;
}
.acStatusNumberTextCont{
	background-color: #999;
	color: #FFF;
	float: left;
	font-size: 12px;
	height: 14px;
	margin: 0 0 4px;
	width: 340px;
}
.left-mainNumber{
	background: #990;
	border: 1px solid #fff;
	box-shadow: 0 2px 9px #888;
	color: #FFF;
	display: block;
	float: left;
	font-family: Arial;
	font-size: 26px;
	font-weight: 700;
	margin-bottom: 3px;
	margin-left: 4px;
	padding: 14px 18px;
	text-align: center;
}
.mid-mainNumber{
	background: #FF0;
	border: 1px solid #666;
	box-shadow: 0 2px 9px #888;
	color: #000;
	display: block;
	float: left;
	font-family: Arial;
	font-size: 26px;
	font-weight: 700;
	margin-bottom: 3px;
	margin-left: 6px;
	padding: 14px 18px;
	text-align: center;
}
.right-mainNumber{
	background: #C00;
	border: 1px solid #fff;
	box-shadow: 0 2px 9px #888;
	color: #FFF;
	display: block;
	float: left;
	font-family: Arial;
	font-size: 26px;
	font-weight: 700;
	margin-bottom: 3px;
	margin-left: 6px;
	padding: 14px 18px;
	text-align: center;
}
.lowerAreaCont{
	float: right;
	font-family: Arial;
	height: 72px;
	width: 342px;
}
.woCont{
	border: #666 thin solid;
	float: left;
	font-family: Arial;
	height: 62px;
	margin-top: 8px;
	text-align: center;
	width: 62px;
}
.woContTextCont{
	background-color: #999;
	border-bottom: #666 thin solid;
	color: #FFF;
	float: left;
	font-size: 12px;
	height: 14px;
	margin: 0 0 4px;
	width: 62px;
}
.wos{
	background: #ff0;
	border: 1px solid #000;
	box-shadow: 0 2px 9px #888;
	display: inline-block;
	font-size: 12px;
	margin: 1px 0 0 2px;
	padding: 1px 8px;
}
.mcCont{
	border: #666 thin solid;
	float: left;
	font-family: Arial;
	height: 62px;
	margin-left: 4px;
	margin-top: 8px;
	text-align: center;
	width: 95px;
}
.mcContTextCont{
	background-color: #999;
	border-bottom: #666 thin solid;
	color: #FFF;
	float: left;
	font-size: 12px;
	height: 14px;
	margin: 0 0 4px;
	width: 94px;
}
.rateCont{
	float: left;
	font-family: Arial;
	height: 42px;
	margin: 0 0 0 2px;
	width: 50px;
}
.rate{
	background: #c00;
	border: 1px solid #000;
	box-shadow: 0 2px 9px #888;
	color: #fff;
	display: inline-block;
	font-size: 12px;
	margin: 4px 0 0 7px;
	padding: 1px 7px;
}
.small-numberRight{
	float: left;
	font-size: 18px;
	font-weight: 700;
	margin: 0 0 0 7px;
	text-align: center;
	width: 45px;
}
.percentage-number{
	display: block;
	font-size: 18px;
	font-style: italic;
	font-weight: 700;
	margin: 0 0 0 14px;
	text-align: center;
}


.status-holder{
	border: 7px solid #e8e5e5;
	border-radius: 12px;
	display: inline-block;
	margin: 2px;
	moz-border-radius: 12px;
	o-border-radius: 12px;
	padding: 5px;
	webkit-border-radius: 12px;
	width: 184px;
}
.left-datas{
	float: left;
	width: 100px;
}
.right-datas{
	float: right;
	width: 60px;
}
.number{
	background: #990;
	border: 1px solid #fff;
	box-shadow: 0 2px 9px #888;
	color: #FFF;
	display: block;
	font-family: Arial;
	font-size: 33px;
	font-weight: 600;
	margin-bottom: 4px;
	padding: 22px;
}
.small-numberLeft{
	float: left;
	font-size: 18px;
	font-weight: 700;
	margin: 0 0 0 2px;
	text-align: center;
	width: 44px;
}
.phase{
	background: #993;
	border: 1px solid #000;
	box-shadow: 0 2px 9px #888;
	color: #fff;
	display: inline-block;
	font-size: 12px;
	margin: 1px 0 0;
	padding: 1px 3px;
}
.model{
	background: #999;
	border: 1px solid #000;
	color: #fff;
	display: inline-block;
	font-size: 24px;
	margin: 9px 0 0 22px;
	padding: 1px 7px;
}
.bottom-datas{
	border: 1px solid #000;
	box-shadow: 0 2px 9px #888;
	margin: 8px 0 0;
}
.remarksText{
	font-size: 11px;
	min-height: 45px;
	padding: 4px;
}
.migrateText{
	border-top: 1px #E5E5E5 solid;
	font-size: 9px;
	min-height: 10px;
	padding: 1px 5px;
}
.remark{
	background: #8c8c8c;
	border-top: 1px solid #000;
	color: #fff;
	display: block;
	font-size: 12px;
	margin-top: 2px;
	padding: 2px 5px;
	text-align: left;
}
.bottom-datas p{
	padding-left: 5px;
}
.number.red{
	background: #c00;
}
.yellow{
	background: #ff0;
}
.rate.yellow{
	color: #000;
}
#sub-left{
	margin: 0 auto;
	max-width: 860px;
	min-width: 320px;
	text-align: Left;
}
.aicraftImageHolder{
	margin-top: 12px;
}
div#HCcontainer{
	height: 152px;
	width: 162px;
}
.arrowCont{
	height: 40px;
}

.down-arrow{
	color: #c00;
	font-size: 38px;
	margin: 0px 0px 0px 0px;
	text-shadow: 0 2px 2px rgba(255,255,255,0.7), 0 3px 4px rgba(0,0,0,0.5);
}
.up-arrow {
	 font-size: 38px;
	 color: #993;
	 text-shadow: 0 2px 2px rgba(255,255,255,0.7), 0 3px 4px rgba(0,0,0,0.5);
	 margin: 0px 0px 0px 0px;
}
